.review-box{
    box-shadow: 1px 1px 10px grey;
    background-color: rgb(248, 246, 246);
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 440px;
    margin-left: 400px;
}

.headings{
    font-size: 20px;
    font-weight: bold;
}